[submodule "themes/agnes"]
	path = themes/agnes
	url = https://github.com/dchucks/agnes-hugo-theme
[submodule "themes/sessionize-event"]
	path = themes/sessionize-event
	url = https://github.com/medialesson/hugo-theme-event
[submodule "themes/editorial"]
	path = themes/editorial
	url = https://github.com/johnaoga/editorial-hugo-theme
