{{ define "main" }}
  <section>
    <header class="main">
      <h1>{{ .Title }}</h1>
    </header>
    <div class="posts">
      {{ $paginator := .Paginate (where .RegularPages "Section" "posts") 9 }}
      {{ range $paginator.Pages }}
        <article>
          {{ $img := .Params.featuredImage }}
          {{ with $img }}
            {{ with $.Resources.GetMatch . }}
              {{ $proc := .Fill "720x405 center q75" }}
              <a href="{{ $.Permalink }}" class="image"><img src="{{ $proc.RelPermalink }}" width="720" height="405" alt="" /></a>
            {{ else }}
              <a href="{{ $.Permalink }}" class="image"><img src="{{ $img | relURL }}" alt="" /></a>
            {{ end }}
          {{ end }}
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p>{{ with .Summary }}{{ . | plainify | truncate 180 }}{{ end }}</p>
          <ul class="actions"><li><a href="{{ .Permalink }}" class="button">{{ i18n "more" | default "More" }}</a></li></ul>
        </article>
      {{ end }}
    </div>
    {{ if gt $paginator.TotalPages 1 }}
      <ul class="pagination">
        {{ if $paginator.HasPrev }}<li><a class="page" href="{{ $paginator.Prev.URL }}">{{ i18n "prev" | default "Prev" }}</a></li>{{ end }}
        {{ range $paginator.Pagers }}<li><a class="page {{ if eq . $paginator }}active{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a></li>{{ end }}
        {{ if $paginator.HasNext }}<li><a class="page" href="{{ $paginator.Next.URL }}">{{ i18n "next" | default "Next" }}</a></li>{{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
